[defaults]
inventory = inventory/hosts.yml
remote_user = ubuntu
private_key_file = ~/.ssh/it-machine
host_key_checking = False
#stdout_callback = yaml
interpreter_python = auto_silent

[privilege_escalation]
become = True