KC_DB_USERNAME={{ kc_db_username }}
KC_DB_PASSWORD={{ kc_db_password }}

CLOUDFLARE_TEAM_NAME={{ cloudflare_team_name }}
CF_CLIENT_SECRET={{ cf_client_secret }}

GF_CLIENT_SECRET={{ gf_client_secret }}

KC_ADMIN_PASSWORD={{ kc_admin_password }}

CF_ACCESS_CLIENT_ID={{ cf_access_client_id }}
CF_ACCESS_CLIENT_SECRET={{ cf_access_client_secret }}
AUTH_CLOUDFLARE_TOKEN={{ auth_cloudflare_token }}