
GF_SECURITY_ADMIN_USER={{ gf_security_admin_user }}
GRAFANA_ADMIN_PASSWORD={{ grafana_admin_password }}

GF_CLIENT_SECRET={{ gf_client_secret }}

MONITOR_CLOUDFLARE_TOKEN={{ monitor_cloudflare_token }}